/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main--container--padding: 0 80px;
  --main--container--padding1200: 0 30px;
  --main--container--padding600: 0 20px;
  --main--title--color: #009696;
  --main--title--font: "Shadows Into Light", cursive;
  /* --main--title--font: "Lobster", cursive; */
  --main--title--weight: 100;
  --main--grey--text--color: #a39d9d;
  --article--font--size: 1.2rem;
}

body {
  margin: 0;
  font-family: "Bad Script", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeced;
  line-height: 1.9;
}

/* .class {
  padding: var(--main--container--padding);
}

@media (max-width: 1200px) {
  .class {
    padding: var(--main--container--padding1200);
  }
}

@media (max-width: 600px) {
  .class {
    padding: var(--main--container--padding600);
  }
} */

.main_container {
  height: auto;
}

@media (min-width: 1920px) {
  .main_container {
    width: 1520px;
    margin: 0 auto;
  }
}

.main_padding {
  padding: var(--main--container--padding);
}

@media (max-width: 1200px) {
  .main_padding {
    padding: var(--main--container--padding1200);
  }
}
@media (max-width: 600px) {
  .main_padding {
    padding: var(--main--container--padding600);
  }
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

label {
  cursor: pointer;
}
