.about_more_title {
  text-align: center;
  color: var(--main--title--color);
  font-size: 35px;
  font-family: var(--main--title--font);
  font-weight: var(--main--title--weight);
}

.about_more_text {
  font-size: 17px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #282828;
  text-align: center;
}

.about_more_make_an_appointment {
  width: 220px;
  height: 65px;
  padding: 4px;
  margin: 50px auto;
  background-color: #00b5b5;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--main--title--font);
}

.about_more_make_an_appointment:hover {
  background-color: #0ac9c9;
  cursor: pointer;
  cursor: pointer;
  color: #009696;
  text-decoration: none;
  border-bottom: 2px solid #009696;
  padding-bottom: 3px;
}

@media (max-width: 600px) {
  .about_more_title {
    font-size: 20px;
  }
}
