.header_nav {
  padding: 0 80px;
  height: 125px;
  background-color: #edeced;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main--grey--text--color);
  font-family: var(--main--title--font);
  font-size: 1.2rem;
  font-weight: normal;
}

.logo {
  width: 240px;
}

.nav {
  width: 50%;
}

.navlink {
  color: var(--main--grey--text--color);
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: 100;
  list-style: none;
}
.ul > li:hover {
  cursor: pointer;
  color: #00b5b5;
  text-decoration: none;
  border-bottom: 1px solid #009696;
  padding-bottom: 3px;
}

.navlink:hover {
  color: #00b5b5;
  text-decoration: none;
  border-bottom: 1px solid #009696;
  padding-bottom: 3px;
}

.contacts {
  width: 220px;
  height: 65px;
  background-color: #00b5b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
}

.contacts:hover {
  background-color: #0ac9c9;
}

@media (max-width: 1200px) {
  .header_nav {
    padding: var(--main--container--padding1200);
    height: 95px;
  }
  .nav {
    width: 70%;
  }
}

@media (max-width: 890px) {
  .nav {
    display: none;
  }
  .logo {
    width: 190px;
  }
}

@media (max-width: 600px) {
  .header_nav {
    height: 70px;
    padding: var(--main--container--padding600);
  }
  .nav {
  }
  .logo {
    width: 170px;
  }
  .nav {
    display: none;
  }
}
