.fatherrole_container {
  width: 85%;
  border-radius: 15px;
  margin: 40px auto;
  -webkit-box-shadow: 0px 5px 17px -2px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px 5px 17px -2px rgba(34, 60, 80, 0.13);
  box-shadow: 0px 5px 17px -2px rgba(34, 60, 80, 0.13);
}

.fatherrole_img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fatherrole_text {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.fatherrole_text > p {
  text-indent: 5em;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .fatherrole_container {
    width: 100%;
  }
  .fatherrole_img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .fatherrole_text {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .fatherrole_text > p {
    text-indent: 1.8em;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .fatherrole_text {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .fatherrole_text > p {
    text-indent: 1.5em;
    font-size: 12px;
  }
}
